.gameBoard {
border: 0.25em solid rgb(134, 134, 134);
    
}

.box {
width: 5em;
height: 5em;
text-align: center;
font-size: 1em;
font-weight: bold;

}

.wrapper {
    text-align: center;
}

.clearButton {
    margin: 0.5em;
    top: 50%;
    display:inline-block;
}

.description{
    padding:1em;
    margin:2em;
    margin-left:2em;
    margin-right:2em;
    font-size:1em;
    text-align:center;
    border:0.15em solid rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
}
